<header class="page-heder">
  <div class="container heder-cont">
    <nav class="header-nav">
      <a class="logo herder-logo" href="./index.html"
        >Web<span class="logo-part">Studio</span></a
      >
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link current" href="./index.html">Studio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <!-- mobile-menu -->
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-cont">
      <button class="mobile-close-btn" type="button" data-menu-close>
        <svg class="icom-mob-close" width="8" height="8">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mob-nav">
        <ul class="mob-list">
          <li class="mob-item">
            <a class="mob-link blue" href="./index.html">Studio</a>
          </li>
          <li class="mob-item">
            <a class="mob-link" href="">Portfolio</a>
          </li>
          <li class="mob-item">
            <a class="mob-link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <address class="contacts-mob">
        <ul class="contacts-list-mob">
          <li class="contacts-item-mob">
            <a class="contacts-link-mob blue-add" href="tel:+110001111111"
              >+11 (000) 111-11-11</a
            >
          </li>
          <li class="contacts-item-mob">
            <a class="contacts-link-mob" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
        </ul>
      </address>
      <div class="mob-link">
        <ul class="icon-list">
          <li class="item-icon">
            <a href="" class="icon-link">
              <svg width="24" height="24" class="team-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="item-icon">
            <a href="" class="icon-link">
              <svg width="24" height="24" class="team-icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="item-icon">
            <a href="" class="icon-link">
              <svg width="24" height="24" class="team-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="item-icon">
            <a href="" class="icon-link">
              <svg width="24" height="24" class="team-icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
